@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GroupBy</h1>
    <p class="lead">GroupBy is a free social media platform where you can connect with your friends</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            GroupBy gives you the experience of creating groups with your friends, all you have to do is register and create your profile!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Private profile</h2>
        <p>If you want just your friends to access all your information you can always make your profile private from the settings</p>
    </div>
    <div class="col-md-4">
        <h2>Messages</h2>
        <p>You can easily chat with your friends, just access your message icon</p>
    </div>
</div>