<style>
    body {
        background-color: #B7ADCF;
    }
</style>

@model IEnumerable<Facebook.Models.Photo>

@{
    ViewBag.Title = "Photos";
}

@if (ViewBag.userId == ViewBag.currentUserId)
{
    <h2 class="text-center">Your Photos</h2>
}
else
{
    <h2 class="text-center">@ViewBag.userName's photos</h2>
}
</hr>

@if (ViewBag.currentUser == ViewBag.ownerUser)
{
    <p class="text-center">
        @Html.ActionLink("Add new photo", "New", "Photo", new { @id = ViewBag.albumId }, new { @class = "btn btn-success" })
    </p>

}
<br/>
<br/>
<div class="container">

    <div class="row text-center text-lg-left">
         @foreach (var item in Model)
         {
              <div class="col-lg-3 col-md-4 col-6">
                   <a href="@Url.Action("Show", "Photo", new { @id = item.photoID})" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="@item.photoURL" alt="">
                   </a>
              </div>
          }
    </div>

</div>
